
<div class="wrap">
<h2 class="product-list-title">Product lists</h2>
<div class="product-list" *ngFor="let product of products; index as productId">
  <figure><a [routerLink]="['/products', productId]" [title]="product.name + ' details'" ><img [src]="product.imageUrl" alt="Product Image" /></a></figure>
  <h3>
    <a [routerLink]="['/products', productId]" [title]="product.name + ' details'" > {{ product.name }} </a>
  </h3>
  <p> {{ product.description }} </p>
  <button (click)="share()">Share</button>
  <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>
</div>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->