/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
.wrap {
  flex-wrap: wrap;
  display: flex;
}
.product-list-title {
  flex: 0 0 100%;
}
.product-list {
    padding: 0px 15px 30px 15px;
    width: calc(100% /4);
}
.product-list figure {
  margin-left: 0px;
  margin-right: 0px;
}